$font-main:							        'Roboto', "Arial", sans-serif !default;
$font-main-medium:							'Roboto-Medium', "Arial", sans-serif !default;
$font-main-bold:							'Roboto-Bold', "Arial", sans-serif !default;
$font-secondary-semibold:					'Montserrat-SemiBold', "Arial", sans-serif !default;
$font-secondary-bold:						'Montserrat-Bold', "Arial", sans-serif !default;

$font-size-base:							16px !default;
$max-content-width:                         1200px;
$module-spacing:                            80px;

$scrollbar-track:                           #f5f5f5;
$scrollbar:                                 #555;
$loader-bg:                                 #fff;

$site-mobile-width:                         640px !default;
$site-tablet-width:         			    768px !default;
$site-desktop-width:         			    1024px !default;
